<?xml version='1.0'?>
<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
   args="$(find edymobile_complete)/worlds/circuit_MAPF_VF.world" respawn="false" output="screen" />

  <!-- start gui -->
  <!-- node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/ -->

  <!-- include our robots -->
  <include file="$(find edymobile_complete)/launch/spawn_edymobiles.launch"/>
  
  <!-- launch Rviz visualization -->
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find edymobile_complete)/rviz/navigation.rviz" /-->
  
  <!-- launch navigation -->
  <!--include file="$(find edymobile_complete)/launch/edymobiles_remote.launch"/-->
</launch>
